:root
  --cols: 9
  --cell-size: 24px
  --bg: #fff
  --text: #000
  --field-bg: #d4d4d4
  --field-bdc: #aaa
  --cell-bdc: #fff
  --cell-bg-h: #c4c4c4
  --bq1: #0b23f9
  --bq2: #107d13
  --bq3: #fb0d1c
  --bq4: #030d7e
  --bq5: #7d0508
  --bq6: #11807f
  --bq7: #000
  --bq8: #808080
  --flag-bomb: #0f7f1240
  --flag-wrong: #d9474740
  --boom0-after:#d9474780
  --boom0: #d94747
  --boom1: #c6713ed1
  --boom2: #f0b45177
  --cell-bdc-gameover: #fee
  --field-bg-gameover: #f7e1e1
  --field-bdc-gameover: #f2c9c9
  --cell-bdc-win: #f1ffe8
  --field-bg-win: #d8eccb
  --field-bdc-win: #c1dbaf

  font-size: 16px
  line-height: 1.25

:root[data-mobile="true"]
  --cell-size: 32px



body
  text-align: center
  user-select: none
  background: var(--bg)
  color: var(--text)

h1
  color: red
  margin: 0

  [data-mobile="true"] &
    display: inline-block

[data-mobile="true"]
  .mob-aware
    .def
      display: none
[data-mobile="false"]
  .mob-aware
    .mob
      display: none

input[type="radio"]
  margin: 0
  margin-right: 0.3em

label + label
  margin-left: 0.5em

#header
  margin-top: 2em
  margin-bottom: 0.5em

  [data-mobile="true"] &
    margin: 0
    display: flex
    align-items: baseline
    justify-content: space-between

  #settings
    .settings-section
      margin-bottom: 1em
      white-space: nowrap

  #info
    #field-info-text
      font-variant-numeric: tabular-nums

    #reset-btn
      margin-left: 2em

#field
  position: relative
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  background-color: var(--field-bg)
  border: 1px solid var(--field-bdc)
  border-top-width: 0
  border-left-width: 0
  width: calc(var(--cols) * var(--cell-size))

  &.gameover
    pointer-events: none
    --cell-bdc: var(--cell-bdc-gameover)
    --field-bg: var(--field-bg-gameover)
    --field-bdc: var(--field-bdc-gameover)
    box-shadow: 0 0 100px 100px var(--field-bg)
    z-index: -1

  &.gameover.win
    --cell-bdc: var(--cell-bdc-win)
    --field-bg: var(--field-bg-win)
    --field-bdc: var(--field-bdc-win)

  .cell
    position: relative
    display: flex
    width: var(--cell-size)
    height: var(--cell-size)
    font-size: calc(var(--cell-size) * .6)
    line-height: 1
    align-items: center
    justify-content: center
    border: calc(var(--cell-size) * .125) outset var(--cell-bdc)
    box-sizing: border-box
    font-weight: bold
    animation-duration: .35s
    animation-iteration-count: 1
    animation-timing-function: ease-out
    animation-fill-mode: forwards

    &:not(.open):hover
      background-color: var(--cell-bg-h)

    &.open
      border: 1px solid var(--field-bdc)
      border-bottom-width: 0
      border-right-width: 0

    &:after
      position: absolute
      display: flex
      top: 0
      right: 0
      left: 0
      bottom: 0
      align-items: center
      justify-content: center
      background-size: calc(var(--cell-size) / 2)
      background-repeat: no-repeat
      background-position: center

    &.flag:after
      content: ''
      background-image: url(flag.svg)
    &.bomb:after
      content: ''
      background-image: url(mine.svg)
    &.bomb.flag:after
      background-color: var(--flag-bomb)
    &.wrong:after
      content: ''
      background-image: url(no_mine.svg)
      background-color: var(--flag-wrong)

    &.bombs-q1
      color: var(--bq1)
    &.bombs-q2
      color: var(--bq2)
    &.bombs-q3
      color: var(--bq3)
    &.bombs-q4
      color: var(--bq4)
    &.bombs-q5
      color: var(--bq5)
    &.bombs-q6
      color: var(--bq6)
    &.bombs-q7
      color: var(--bq7)
    &.bombs-q8
      color: var(--bq8)

    &.boom0
      animation-name: boom0
    &.boom1
      animation-name: boom1
      animation-delay: .1s
    &.boom2
      animation-name: boom2
      animation-delay: .25s

@keyframes boom0
  0%
    background-color: var(--boom0)
  99%
    background-color: none
  100%
    background-color: var(--boom0-after)
@keyframes boom1
  0%
    background-color: var(--boom1)
@keyframes boom2
  0%
    background-color: var(--boom2)